In [3]:
#primer comentario usando github 
import pandas as pd

columnas = ["Apellido", "Nombre", "Aficion principal", "Peso(Kg)", "Estatura(m)", "Sexo"]
apellidos = ["Molina", "Muñoz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado",
             "Chavez", "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", 
             "Mejia", "Serrano", "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa"]
aficion_principal = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet"]
peso = [82, 59, 62, 75, 74, 71, 62, 77, 71, 62, 68, 72, 65, 68, 62, 
        66, 65, 62, 70, 65, 66, 59, 68, 64, 70, 67, 72, 70, 64, 63]
estatura = [1.81, 1.65, 1.63, 1.61, 1.86, 1.76, 1.68, 1.65, 1.73, 1.72, 1.71, 1.77, 1.60, 1.76, 1.58, 1.69, 1.67, 1.62, 
            1.73, 1.61, 1.62, 1.65, 1.74, 1.72, 1.65, 1.79, 1.67, 1.64, 1.68, 1.77]
sexo = ["M", "F", "F", "M", "M", "F", "M", "M", "F", "F", "F", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", 
        "F", "F", "M", "M", "M", "M", "F", "F"]

# construimos el dataframe con las columnas dadas y mediante la funcion zip de python enlazamos dichas listas de columnas creadas
datos = list(zip(apellidos, nombres, aficion_principal, peso, estatura, sexo))
df = pd.DataFrame(datos, columns=columnas)
df

# Si hacemos esto nos crea una serie donde los elementos de la serie son los elementos de la columna 'Apellido' 
df['Apellido']

# el resultado es "pandas.core.series.Series"
type(df['Apellido'])

# En este caso te crea un dataframe con las dos columnas que le solicitamos
dataframe1 = df[['Apellido', 'Estatura(m)']]

# Y en este otro caso nos crea otro dataframe con las columnas que le solicitamos, y en el mismo orden que le pedimos 
dataframe2 = df[['Apellido', 'Estatura(m)', 'Aficion principal']]
dataframe2

     Apellido  Estatura(m) Aficion principal
0      Molina         1.81           Basquet
1       Muñoz         1.65            Futbol
2       Rubio         1.63       Informatica
3    Castillo         1.61           Ajedrez
4     Garrido         1.86             Voley
5      Medina         1.76            Futbol
6     Navarro         1.68           Ajedrez
7     Morales         1.65           Karaoke
8      Castro         1.73              Judo
9       Reyes         1.72            Musica
10      Prado         1.71        Reposteria
11     Chavez         1.77            Futbol
12       Vega         1.60       Informatica
13     Moreno         1.76           Basquet
14    Escobar         1.58           Karaoke
15   Alvarado         1.69            Musica
16    Zegarra         1.67              Judo
17      Costa         1.62            Teatro
18      Borja         1.73            Futbol
19     Romero         1.61           Karaoke
20      Gomez         1.62           Lectura
21       Ruiz         1.65            Futbol
22      Mejia         1.74             Voley
23    Serrano         1.72              Judo
24    Jimenez         1.65           Ajedrez
25    Vazquez         1.79             Voley
26  Fernandez         1.67           Ajedrez
27      Ramos         1.64           Ajedrez
28  Rodriguez         1.68           Karaoke
29    Delgado         1.77           Basquet