In [1]:
#primer comentario usando github 
import pandas as pd

columnas1 = ["Apellido", "Nombre", "Aficion principal", "Peso(Kg)", "Estatura(m)", "Sexo"]
apellidos1 = ["Molina", "Muñoz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado",
             "Chavez", "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", 
             "Mejia", "Serrano", "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres1 = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa"]
aficion_principal = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet"]
peso = [82, 59, 62, 75, 74, 71, 62, 77, 71, 62, 68, 72, 65, 68, 62, 
        66, 65, 62, 70, 65, 66, 59, 68, 64, 70, 67, 72, 70, 64, 63]
estatura = [1.81, 1.65, 1.63, 1.61, 1.86, 1.76, 1.68, 1.65, 1.73, 1.72, 1.71, 1.77, 1.60, 1.76, 1.58, 1.69, 1.67, 1.62, 
            1.73, 1.61, 1.62, 1.65, 1.74, 1.72, 1.65, 1.79, 1.67, 1.64, 1.68, 1.77]
sexo1 = ["M", "F", "F", "M", "M", "F", "M", "M", "F", "F", "F", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", 
        "F", "F", "M", "M", "M", "M", "F", "F"]

# construimos el dataframe con las columnas dadas y mediante la funcion zip de python enlazamos dichas listas de columnas creadas
datos = list(zip(apellidos1, nombres1, aficion_principal, peso, estatura, sexo1))
df1 = pd.DataFrame(datos, columns=columnas1)
df1

columnas2 = ["Apellido", "Nombre", "Grado", "Aula", "Edad", "Cursos_repetidos", "Nota_promedio", "Sexo"]
apellidos2 = ["Mora", "Rojas", "Hidalgo", "Arias", "Castillo", "Benitez", "Vargas", "Bravo", "Moreno", "Santiago", "Mejia", 
              "Diaz", "Lozano", "Perez", "Herrera", "Navarro", "Flores", "Garcia", "Cruz", "Lopez", "Leon", "Castro", 
              "Guerrero", "Zapata", "Iglesias", "Escobar", "Cabrera", "Prado", "Medina", "Gonzalez", "Fuentes","Tapia", 
              "Aguilar", "Zegarra", "Gallardo", "Alvarez", "Diaz", "Borja", "Ramos", "Jimenez", "Sandoval", "Espinoza"]
nombres2 = ["Ana", "Paula", "Marcelo", "Lorena", "Daniel", "Ricardo", "Juan", "Maria", "Julia", "Sandro", "Jesica", "Juan",
            "Carlos", "Maria", "Cesar", "Julio", "Maria", "Enrique", "Jose", "Oscar", "Liliana","Tania", "Antonio", "Laura",
            "Claudio", "Pedro", "Mario", "Ana", "Armando", "Liliana", "Raul", "Jose", "Luisa", "Alberto", "Antonio", 
            "Enrique", "Elena", "Pablo", "Luis", "Luis", "Jorge", "Claudia"]
grado = [3, 5, 2, 4, 1, 5, 2, 3, 2, 4, 1, 5, 4, 3, 4, 2, 1, 4, 2, 5, 1, 2, 4, 3, 1, 1, 2, 4, 3, 5, 2, 3, 1, 2, 1, 2,
         3, 5, 2, 4, 2, 1]
aula = ["A", "B", "A", "B", "B", "B", "A", "A", "B", "A", "B", "A", "A", "B", "A", "A", "B", "A", "B", "B", "A",
              "A", "A", "B", "B", "A", "B", "A", "B", "B", "A", "A", "B", "A", "A", "B", "A", "B", "A", "B", "B", "A"]
edad = [14, 16, 13, 14, 12, 15, 13, 13, 14, 15, 11, 16, 15, 14, 13, 13, 12, 14, 13, 15, 11, 12, 13, 14, 12, 12, 13, 13,
        13, 16, 13, 13, 12, 12, 11, 13, 14, 15, 12, 13, 13, 12]
cursos_repetidos = [1, 0, 0, 2, 0, 3, 1, 1, 4, 1, 0, 2, 2, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 2, 1, 0, 1, 3, 0, 1, 
                    0, 0, 0, 2, 0, 0, 1, 0, 2, 0]
nota_promedio = [12.4, 12.6, 11.5, 10.7, 12.1, 9.7, 11.5, 10.9, 9.1, 11.7, 12.6, 9.6, 10.2, 12.5, 11.4, 12.2, 13.5, 14.2, 11.6,
                 15.7, 12.5, 11.4, 11.9, 13.8, 12.7, 10.5, 11.3, 12.1, 11.4, 8.9, 12.2, 10.6, 12.7, 12.6, 12.1, 9.4, 13.0,
                 13.6, 11.1, 14.4, 10.5, 12.1]
sexo2 = ["F", "F", "M", "F", "M", "M", "M", "F", "F", "M", "F", "M", "M", "F", "M", "M", "F", "M", "M", "M", "F",
              "F", "M", "F", "M", "M", "M", "F", "M", "F", "M", "M", "F", "M", "M", "M", "F", "M", "M", "M", "M", "F"]

# construimos el segundo dataframe
datos2 = list(zip(apellidos2, nombres2, grado, aula, edad, cursos_repetidos, nota_promedio, sexo2))
df2 = pd.DataFrame(datos2, columns=columnas2)
df2

""""Ahora en este nuevo dataframe hemos ordenado mediante el metodo sort_values() ya no solo de acuerdo a una sola
    columna ('Apellido'), sino de acuerdo a dos columnas ('Apellido' y 'Nombre'); por lo tanto el orden en los alumnos
    Diaz Juan y Diaz Elena cambio a Diaz Elena primero y Diaz Juan despues"""
nuevo_df2 = df2.sort_values(by=['Apellido', 'Nombre'])
nuevo_df2

    Apellido   Nombre  Grado Aula  Edad  Cursos_repetidos  Nota_promedio Sexo
32   Aguilar    Luisa      1    B    12                 0           12.7    F
35   Alvarez  Enrique      2    B    13                 2            9.4    M
3      Arias   Lorena      4    B    14                 2           10.7    F
5    Benitez  Ricardo      5    B    15                 3            9.7    M
37     Borja    Pablo      5    B    15                 0           13.6    M
7      Bravo    Maria      3    A    13                 1           10.9    F
26   Cabrera    Mario      2    B    13                 1           11.3    M
4   Castillo   Daniel      1    B    12                 0           12.1    M
21    Castro    Tania      2    A    12                 1           11.4    F
18      Cruz     Jose      2    B    13                 1           11.6    M
36      Diaz    Elena      3    A    14                 0           13.0    F
11      Diaz     Juan      5    A    16                 2            9.6    M
25   Escobar    Pedro      1    A    12                 2           10.5    M
41  Espinoza  Claudia      1    A    12                 0           12.1    F
16    Flores    Maria      1    B    12                 0           13.5    F
30   Fuentes     Raul      2    A    13                 0           12.2    M
34  Gallardo  Antonio      1    A    11                 0           12.1    M
17    Garcia  Enrique      4    A    14                 0           14.2    M
29  Gonzalez  Liliana      5    B    16                 3            8.9    F
22  Guerrero  Antonio      4    A    13                 0           11.9    M
14   Herrera    Cesar      4    A    13                 1           11.4    M
2    Hidalgo  Marcelo      2    A    13                 0           11.5    M
24  Iglesias  Claudio      1    B    12                 0           12.7    M
39   Jimenez     Luis      4    B    13                 0           14.4    M
20      Leon  Liliana      1    A    11                 0           12.5    F
19     Lopez    Oscar      5    B    15                 0           15.7    M
12    Lozano   Carlos      4    A    15                 2           10.2    M
28    Medina  Armando      3    B    13                 1           11.4    M
10     Mejia   Jesica      1    B    11                 0           12.6    F
0       Mora      Ana      3    A    14                 1           12.4    F
8     Moreno    Julia      2    B    14                 4            9.1    F
15   Navarro    Julio      2    A    13                 1           12.2    M
13     Perez    Maria      3    B    14                 0           12.5    F
27     Prado      Ana      4    A    13                 0           12.1    F
38     Ramos     Luis      2    A    12                 1           11.1    M
1      Rojas    Paula      5    B    16                 0           12.6    F
40  Sandoval    Jorge      2    B    13                 2           10.5    M
9   Santiago   Sandro      4    A    15                 1           11.7    M
31     Tapia     Jose      3    A    13                 1           10.6    M
6     Vargas     Juan      2    A    13                 1           11.5    M
23    Zapata    Laura      3    B    14                 0           13.8    F
33   Zegarra  Alberto      2    A    12                 0           12.6    M