In [3]:
#primer comentario usando github 
import pandas as pd

columnas = ["Apellido", "Nombre", "Aficion principal", "Peso(Kg)", "Estatura(m)", "Sexo"]
apellidos = ["Molina", "Muñoz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado",
             "Chavez", "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", 
             "Mejia", "Serrano", "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa"]
aficion_principal = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet"]
peso = [82, 59, 62, 75, 74, 71, 62, 77, 71, 62, 68, 72, 65, 68, 62, 
        66, 65, 62, 70, 65, 66, 59, 68, 64, 70, 67, 72, 70, 64, 63]
estatura = [1.81, 1.65, 1.63, 1.61, 1.86, 1.76, 1.68, 1.65, 1.73, 1.72, 1.71, 1.77, 1.60, 1.76, 1.58, 1.69, 1.67, 1.62, 
            1.73, 1.61, 1.62, 1.65, 1.74, 1.72, 1.65, 1.79, 1.67, 1.64, 1.68, 1.77]
sexo = ["M", "F", "F", "M", "M", "F", "M", "M", "F", "F", "F", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", 
        "F", "F", "M", "M", "M", "M", "F", "F"]

# construimos el dataframe con las columnas dadas y mediante la funcion zip de python enlazamos dichas listas de columnas creadas
datos = list(zip(apellidos, nombres, aficion_principal, peso, estatura, sexo))
df = pd.DataFrame(datos, columns=columnas)
df

""" El metodo where sirve para filtrar datos y nos devolvera un nuevo dataframe segun la condicion o condiciones que le pidamos; 
    solo las filas en las cuales se cumplan la condicion o condiciones nos imprimira sus respectivos valores, y los que no se
    rellenaran con valores NaN
    En este caso le pedimos que nos devuelva un nuevo dataframe con los datos de los alumnos cuyo peso sea mayor a 70 kg"""
dataframe_filtrado = df.where(df['Peso(Kg)'] > 70 ) 
dataframe_filtrado

     Apellido   Nombre Aficion principal  Peso(Kg)  Estatura(m) Sexo
0      Molina  Antonio           Basquet      82.0         1.81    M
1         NaN      NaN               NaN       NaN          NaN  NaN
2         NaN      NaN               NaN       NaN          NaN  NaN
3    Castillo   Daniel           Ajedrez      75.0         1.61    M
4     Garrido     Luis             Voley      74.0         1.86    M
5      Medina    Laura            Futbol      71.0         1.76    F
6         NaN      NaN               NaN       NaN          NaN  NaN
7     Morales    Jorge           Karaoke      77.0         1.65    M
8      Castro    Tania              Judo      71.0         1.73    F
9         NaN      NaN               NaN       NaN          NaN  NaN
10        NaN      NaN               NaN       NaN          NaN  NaN
11     Chavez     Jose            Futbol      72.0         1.77    M
12        NaN      NaN               NaN       NaN          NaN  NaN
13        NaN      NaN               NaN       NaN          NaN  NaN
14        NaN      NaN               NaN       NaN          NaN  NaN
15        NaN      NaN               NaN       NaN          NaN  NaN
16        NaN      NaN               NaN       NaN          NaN  NaN
17        NaN      NaN               NaN       NaN          NaN  NaN
18        NaN      NaN               NaN       NaN          NaN  NaN
19        NaN      NaN               NaN       NaN          NaN  NaN
20        NaN      NaN               NaN       NaN          NaN  NaN
21        NaN      NaN               NaN       NaN          NaN  NaN
22        NaN      NaN               NaN       NaN          NaN  NaN
23        NaN      NaN               NaN       NaN          NaN  NaN
24        NaN      NaN               NaN       NaN          NaN  NaN
25        NaN      NaN               NaN       NaN          NaN  NaN
26  Fernandez   Miguel           Ajedrez      72.0         1.67    M
27        NaN      NaN               NaN       NaN          NaN  NaN
28        NaN      NaN               NaN       NaN          NaN  NaN
29        NaN      NaN               NaN       NaN          NaN  NaN