In [6]:
#primer comentario usando github 
import pandas as pd

columnas = ["Apellido", "Nombre", "Aficion principal", "Peso(Kg)", "Estatura(m)", "Sexo"]
apellidos = ["Molina", "Mu√±oz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado",
             "Chavez", "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", 
             "Mejia", "Serrano", "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa"]
aficion_principal = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet"]
peso = [82, 59, 62, 75, 74, 71, 62, 77, 71, 62, 68, 72, 65, 68, 62, 
        66, 65, 62, 70, 65, 66, 59, 68, 64, 70, 67, 72, 70, 64, 63]
estatura = [1.81, 1.65, 1.63, 1.61, 1.86, 1.76, 1.68, 1.65, 1.73, 1.72, 1.71, 1.77, 1.60, 1.76, 1.58, 1.69, 1.67, 1.62, 
            1.73, 1.61, 1.62, 1.65, 1.74, 1.72, 1.65, 1.79, 1.67, 1.64, 1.68, 1.77]
sexo = ["M", "F", "F", "M", "M", "F", "M", "M", "F", "F", "F", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", 
        "F", "F", "M", "M", "M", "M", "F", "F"]

# construimos el dataframe con las columnas dadas y mediante la funcion zip de python enlazamos dichas listas de columnas creadas
datos = list(zip(apellidos, nombres, aficion_principal, peso, estatura, sexo))
df = pd.DataFrame(datos, columns=columnas)

# Nos saldra el dataframe original en el orden tal como lo escribimos originalmente
df

# Ahora lo ordenamos alfabeticamente por la columna 'Apellido'
df = df.sort_values(by='Apellido')
df

     Apellido   Nombre Aficion principal  Peso(Kg)  Estatura(m) Sexo
15   Alvarado    Ester            Musica        66         1.69    F
18      Borja    Pablo            Futbol        70         1.73    M
3    Castillo   Daniel           Ajedrez        75         1.61    M
8      Castro    Tania              Judo        71         1.73    F
11     Chavez     Jose            Futbol        72         1.77    M
17      Costa  Tatiana            Teatro        62         1.62    F
29    Delgado   Vanesa           Basquet        63         1.77    F
14    Escobar    Pedro           Karaoke        62         1.58    M
26  Fernandez   Miguel           Ajedrez        72         1.67    M
4     Garrido     Luis             Voley        74         1.86    M
20      Gomez    Jorge           Lectura        66         1.62    M
24    Jimenez     Luis           Ajedrez        70         1.65    M
5      Medina    Laura            Futbol        71         1.76    F
22      Mejia   Jesica             Voley        68         1.74    F
0      Molina  Antonio           Basquet        82         1.81    M
7     Morales    Jorge           Karaoke        77         1.65    M
13     Moreno    Julia           Basquet        68         1.76    F
1       Mu√±oz  Liliana            Futbol        59         1.65    F
6     Navarro    Julio           Ajedrez        62         1.68    M
10      Prado      Ana        Reposteria        68         1.71    F
27      Ramos     Raul           Ajedrez        70         1.64    M
9       Reyes   Cintia            Musica        62         1.72    F
28  Rodriguez   Susana           Karaoke        64         1.68    F
19     Romero    Marta           Karaoke        65         1.61    F
2       Rubio      Ana       Informatica        62         1.63    F
21       Ruiz     Rosa            Futbol        59         1.65    F
23    Serrano   Ursula              Judo        64         1.72    F
25    Vazquez     Jose             Voley        67         1.79    M
12       Vega   Carlos       Informatica        65         1.60    M
16    Zegarra  Alberto              Judo        65         1.67    M