In [23]:
# importamos la libreria pandas
import pandas as pd

columnas1 = ["Apellido", "Nombre", "Aficion principal", "Peso(Kg)", "Estatura(m)", "Genero"]
apellidos1 = ["Molina", "Muñoz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado",
             "Chavez", "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", 
             "Mejia", "Serrano", "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres1 = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", 
           "Carlos", "Julia", "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", 
           "Ursula", "Luis", "Jose", "Miguel", "Raul", "Susana", "Vanesa"]
aficion_principal = ["Basquet", "Futbol", "Informatica", "Ajedrez", "Voley", "Futbol", "Ajedrez", "Karaoke", "Judo",
                     "Musica", "Reposteria", "Futbol", "Informatica", "Basquet", "Karaoke", "Musica", "Judo", "Teatro",
                     "Futbol", "Karaoke", "Lectura", "Futbol", "Voley", "Judo", "Ajedrez", "Voley", "Ajedrez", "Ajedrez",
                     "Karaoke", "Basquet"]
peso = [82, 59, 62, 75, 74, 71, 62, 77, 71, 62, 68, 72, 65, 68, 62, 
        66, 65, 62, 70, 65, 66, 59, 68, 64, 70, 67, 72, 70, 64, 63]
estatura = [1.81, 1.65, 1.63, 1.61, 1.86, 1.76, 1.68, 1.65, 1.73, 1.72, 1.71, 1.77, 1.60, 1.76, 1.58, 1.69, 1.67, 1.62, 
            1.73, 1.61, 1.62, 1.65, 1.74, 1.72, 1.65, 1.79, 1.67, 1.64, 1.68, 1.77]
genero1 = ["M", "F", "F", "M", "M", "F", "M", "M", "F", "F", "F", "M", "M", "F", "M", "F", "M", "F", "M", "F", "M", "F", 
        "F", "F", "M", "M", "M", "M", "F", "F"]

# construimos el dataframe con las columnas dadas y mediante la funcion zip de python enlazamos dichas listas de columnas creadas
datos = list(zip(apellidos1, nombres1, aficion_principal, peso, estatura, genero1))
df1 = pd.DataFrame(datos, columns=columnas1)


columnas2 = ["Apellido", "Nombre", "Grado", "Aula", "Edad", "Cursos_repetidos", "Nota_promedio", "Genero"]
apellidos2 = ["Mora", "Rojas", "Hidalgo", "Arias", "Castillo", "Benitez", "Vargas", "Bravo", "Moreno", "Santiago", "Mejia", 
              "Diaz", "Lozano", "Perez", "Herrera", "Navarro", "Flores", "Garcia", "Cruz", "Lopez", "Leon", "Castro", 
              "Guerrero", "Zapata", "Iglesias", "Escobar", "Cabrera", "Prado", "Medina", "Gonzalez", "Fuentes","Tapia", 
              "Aguilar", "Zegarra", "Gallardo", "Alvarez", "Diaz", "Borja", "Ramos", "Jimenez", "Sandoval", "Espinoza"]
nombres2 = ["Ana", "Paula", "Marcelo", "Lorena", "Daniel", "Ricardo", "Juan", "Maria", "Julia", "Sandro", "Jesica", "Juan",
            "Carlos", "Maria", "Cesar", "Julio", "Maria", "Enrique", "Jose", "Oscar", "Liliana","Tania", "Antonio", "Laura",
            "Claudio", "Pedro", "Mario", "Ana", "Armando", "Liliana", "Raul", "Jose", "Luisa", "Alberto", "Antonio", 
            "Enrique", "Elena", "Pablo", "Luis", "Luis", "Jorge", "Claudia"]
grado = [3, 5, 2, 4, 1, 5, 2, 3, 2, 4, 1, 5, 4, 3, 4, 2, 1, 4, 2, 5, 1, 2, 4, 3, 1, 1, 2, 4, 3, 5, 2, 3, 1, 2, 1, 2,
         3, 5, 2, 4, 2, 1]
aula = ["A", "B", "A", "B", "B", "B", "A", "A", "B", "A", "B", "A", "A", "B", "A", "A", "B", "A", "B", "B", "A",
              "A", "A", "B", "B", "A", "B", "A", "B", "B", "A", "A", "B", "A", "A", "B", "A", "B", "A", "B", "B", "A"]
edad = [14, 16, 13, 14, 12, 15, 13, 13, 14, 15, 11, 16, 15, 14, 13, 13, 12, 14, 13, 15, 11, 12, 13, 14, 12, 12, 13, 13,
        13, 16, 13, 13, 12, 12, 11, 13, 14, 15, 12, 13, 13, 12]
cursos_repetidos = [1, 0, 0, 2, 0, 3, 1, 1, 4, 1, 0, 2, 2, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 2, 1, 0, 1, 3, 0, 1, 
                    0, 0, 0, 2, 0, 0, 1, 0, 2, 0]
nota_promedio = [12.4, 12.6, 11.5, 10.7, 12.1, 9.7, 11.5, 10.9, 9.1, 11.7, 12.6, 9.6, 10.2, 12.5, 11.4, 12.2, 13.5, 14.2, 11.6,
                 15.7, 12.5, 11.4, 11.9, 13.8, 12.7, 10.5, 11.3, 12.1, 11.4, 8.9, 12.2, 10.6, 12.7, 12.6, 12.1, 9.4, 13.0,
                 13.6, 11.1, 14.4, 10.5, 12.1]
genero2 = ["F", "F", "M", "F", "M", "M", "M", "F", "F", "M", "F", "M", "M", "F", "M", "M", "F", "M", "M", "M", "F",
              "F", "M", "F", "M", "M", "M", "F", "M", "F", "M", "M", "F", "M", "M", "M", "F", "M", "M", "M", "M", "F"]

# construimos el segundo dataframe
datos2 = list(zip(apellidos2, nombres2, grado, aula, edad, cursos_repetidos, nota_promedio, genero2))
df2 = pd.DataFrame(datos2, columns=columnas2)

Obtenemos el dataframe df1

In [24]:
df1

     Apellido   Nombre Aficion principal  Peso(Kg)  Estatura(m) Genero
0      Molina  Antonio           Basquet        82         1.81      M
1       Muñoz  Liliana            Futbol        59         1.65      F
2       Rubio      Ana       Informatica        62         1.63      F
3    Castillo   Daniel           Ajedrez        75         1.61      M
4     Garrido     Luis             Voley        74         1.86      M
5      Medina    Laura            Futbol        71         1.76      F
6     Navarro    Julio           Ajedrez        62         1.68      M
7     Morales    Jorge           Karaoke        77         1.65      M
8      Castro    Tania              Judo        71         1.73      F
9       Reyes   Cintia            Musica        62         1.72      F
10      Prado      Ana        Reposteria        68         1.71      F
11     Chavez     Jose            Futbol        72         1.77      M
12       Vega   Carlos       Informatica        65         1.60      M
13     Moreno    Julia           Basquet        68         1.76      F
14    Escobar    Pedro           Karaoke        62         1.58      M
15   Alvarado    Ester            Musica        66         1.69      F
16    Zegarra  Alberto              Judo        65         1.67      M
17      Costa  Tatiana            Teatro        62         1.62      F
18      Borja    Pablo            Futbol        70         1.73      M
19     Romero    Marta           Karaoke        65         1.61      F
20      Gomez    Jorge           Lectura        66         1.62      M
21       Ruiz     Rosa            Futbol        59         1.65      F
22      Mejia   Jesica             Voley        68         1.74      F
23    Serrano   Ursula              Judo        64         1.72      F
24    Jimenez     Luis           Ajedrez        70         1.65      M
25    Vazquez     Jose             Voley        67         1.79      M
26  Fernandez   Miguel           Ajedrez        72         1.67      M
27      Ramos     Raul           Ajedrez        70         1.64      M
28  Rodriguez   Susana           Karaoke        64         1.68      F
29    Delgado   Vanesa           Basquet        63         1.77      F

Del dataframe df1 obtenemos datos estadisticos como la media, desviacion 
estandar, minimo, maximo y los cuartiles de la columna Estatura(m) 
mediante la funcion describe.

In [25]:
df1['Estatura(m)'].describe()

count    30.000000
mean      1.692333
std       0.069465
min       1.580000
25%       1.642500
50%       1.680000
75%       1.737500
max       1.860000
Name: Estatura(m), dtype: float64

Del dataframe df1 obtenemos el grupo de varones y luego obtenemos de la
columna Estatura(m) sus datos estadisticos mediante la funcion describe

In [27]:
varones = df1.groupby('Genero').get_group('M')
varones['Estatura(m)'].describe()

count    15.000000
mean      1.688667
std       0.084250
min       1.580000
25%       1.630000
50%       1.670000
75%       1.750000
max       1.860000
Name: Estatura(m), dtype: float64

Del dataframe df1 obtenemos el grupo de mujeres y luego obtenemos de la
columna Estatura(m) sus datos estadisticos mediante la funcion describe

In [28]:
mujeres = df1.groupby('Genero').get_group('F')
mujeres['Estatura(m)'].describe()

count    15.000000
mean      1.696000
std       0.053559
min       1.610000
25%       1.650000
50%       1.710000
75%       1.735000
max       1.770000
Name: Estatura(m), dtype: float64

Obtenemos el dataframe df2

In [29]:
df2

,Apellido,Nombre,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero
0,Mora,Ana,3,A,14,1,12.4,F
1,Rojas,Paula,5,B,16,0,12.6,F
2,Hidalgo,Marcelo,2,A,13,0,11.5,M
3,Arias,Lorena,4,B,14,2,10.7,F
4,Castillo,Daniel,1,B,12,0,12.1,M
5,Benitez,Ricardo,5,B,15,3,9.7,M
6,Vargas,Juan,2,A,13,1,11.5,M
7,Bravo,Maria,3,A,13,1,10.9,F
8,Moreno,Julia,2,B,14,4,9.1,F
9,Santiago,Sandro,4,A,15,1,11.7,M
10,Mejia,Jesica,1,B,11,0,12.6,F
11,Diaz,Juan,5,A,16,2,9.6,M
12,Lozano,Carlos,4,A,15,2,10.2,M
13,Perez,Maria,3,B,14,0,12.5,F
14,Herrera,Cesar,4,A,13,1,11.4,M
15,Navarro,Julio,2,A,13,1,12.2,M
16,Flores,Maria,1,B,12,0,13.5,F
17,Garcia,Enrique,4,A,14,0,14.2,M
18,Cruz,Jose,2,B,13,1,11.6,M
19,Lopez,Oscar,5,B,15,0,15.7,M
20,Leon,Liliana,1,A,11,0,12.5,F
21,Castro,Tania,2,A,12,1,11.4,F
22,Guerrero,Antonio,4,A,13,0,11.9,M
23,Zapata,Laura,3,B,14,0,13.8,F
24,Iglesias,Claudio,1,B,12,0,12.7,M
25,Escobar,Pedro,1,A,12,2,10.5,M
26,Cabrera,Mario,2,B,13,1,11.3,M
27,Prado,Ana,4,A,13,0,12.1,F
28,Medina,Armando,3,B,13,1,11.4,M
29,Gonzalez,Liliana,5,B,16,3,8.9,F
30,Fuentes,Raul,2,A,13,0,12.2,M
31,Tapia,Jose,3,A,13,1,10.6,M
32,Aguilar,Luisa,1,B,12,0,12.7,F
33,Zegarra,Alberto,2,A,12,0,12.6,M
34,Gallardo,Antonio,1,A,11,0,12.1,M
35,Alvarez,Enrique,2,B,13,2,9.4,M
36,Diaz,Elena,3,A,14,0,13.0,F
37,Borja,Pablo,5,B,15,0,13.6,M
38,Ramos,Luis,2,A,12,1,11.1,M
39,Jimenez,Luis,4,B,13,0,14.4,M
40,Sandoval,Jorge,2,B,13,2,10.5,M
41,Espinoza,Claudia,1,A,12,0,12.1,F

Con la funcion head obtenemos las primeras filas del dataframe, por defecto los
primeros 5

In [34]:
df2.head()

   Apellido   Nombre  Grado Aula  Edad  Cursos_repetidos  Nota_promedio Genero
0      Mora      Ana      3    A    14                 1           12.4      F
1     Rojas    Paula      5    B    16                 0           12.6      F
2   Hidalgo  Marcelo      2    A    13                 0           11.5      M
3     Arias   Lorena      4    B    14                 2           10.7      F
4  Castillo   Daniel      1    B    12                 0           12.1      M

Si queremos obtener otra cantidad de filas lo tenemos que especificar como parametro
por ejemplo los primeros 12

In [36]:
df2.head(12)

,Apellido,Nombre,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero
0,Mora,Ana,3,A,14,1,12.4,F
1,Rojas,Paula,5,B,16,0,12.6,F
2,Hidalgo,Marcelo,2,A,13,0,11.5,M
3,Arias,Lorena,4,B,14,2,10.7,F
4,Castillo,Daniel,1,B,12,0,12.1,M
5,Benitez,Ricardo,5,B,15,3,9.7,M
6,Vargas,Juan,2,A,13,1,11.5,M
7,Bravo,Maria,3,A,13,1,10.9,F
8,Moreno,Julia,2,B,14,4,9.1,F
9,Santiago,Sandro,4,A,15,1,11.7,M
10,Mejia,Jesica,1,B,11,0,12.6,F
11,Diaz,Juan,5,A,16,2,9.6,M

Con la funcion tail obtenemos las ultimas filas del dataframe, por defecto los
ultimos 5

In [35]:
df2.tail()

,Apellido,Nombre,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero
37,Borja,Pablo,5,B,15,0,13.6,M
38,Ramos,Luis,2,A,12,1,11.1,M
39,Jimenez,Luis,4,B,13,0,14.4,M
40,Sandoval,Jorge,2,B,13,2,10.5,M
41,Espinoza,Claudia,1,A,12,0,12.1,F

Si queremos obtener otra cantidad de filas lo tenemos que especificar como parametro
por ejemplo los ultimos 10

In [37]:
df2.tail(10)

,Apellido,Nombre,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero
32,Aguilar,Luisa,1,B,12,0,12.7,F
33,Zegarra,Alberto,2,A,12,0,12.6,M
34,Gallardo,Antonio,1,A,11,0,12.1,M
35,Alvarez,Enrique,2,B,13,2,9.4,M
36,Diaz,Elena,3,A,14,0,13.0,F
37,Borja,Pablo,5,B,15,0,13.6,M
38,Ramos,Luis,2,A,12,1,11.1,M
39,Jimenez,Luis,4,B,13,0,14.4,M
40,Sandoval,Jorge,2,B,13,2,10.5,M
41,Espinoza,Claudia,1,A,12,0,12.1,F

Obtenemos un merge de los dos dataframes (df1 y df2)

In [30]:
dft = pd.merge(df1, df2, on=['Apellido', 'Nombre'])
dft

,Apellido,Nombre,Aficion principal,Peso(Kg),Estatura(m),Genero_x,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero_y
0,Castillo,Daniel,Ajedrez,75,1.61,M,1,B,12,0,12.1,M
1,Navarro,Julio,Ajedrez,62,1.68,M,2,A,13,1,12.2,M
2,Castro,Tania,Judo,71,1.73,F,2,A,12,1,11.4,F
3,Prado,Ana,Reposteria,68,1.71,F,4,A,13,0,12.1,F
4,Moreno,Julia,Basquet,68,1.76,F,2,B,14,4,9.1,F
5,Escobar,Pedro,Karaoke,62,1.58,M,1,A,12,2,10.5,M
6,Zegarra,Alberto,Judo,65,1.67,M,2,A,12,0,12.6,M
7,Borja,Pablo,Futbol,70,1.73,M,5,B,15,0,13.6,M
8,Mejia,Jesica,Voley,68,1.74,F,1,B,11,0,12.6,F
9,Jimenez,Luis,Ajedrez,70,1.65,M,4,B,13,0,14.4,M

Ordenamos los apellidos por orden alfabetico

In [31]:
dft.sort_values(by='Apellido')

,Apellido,Nombre,Aficion principal,Peso(Kg),Estatura(m),Genero_x,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero_y
7,Borja,Pablo,Futbol,70,1.73,M,5,B,15,0,13.6,M
0,Castillo,Daniel,Ajedrez,75,1.61,M,1,B,12,0,12.1,M
2,Castro,Tania,Judo,71,1.73,F,2,A,12,1,11.4,F
5,Escobar,Pedro,Karaoke,62,1.58,M,1,A,12,2,10.5,M
9,Jimenez,Luis,Ajedrez,70,1.65,M,4,B,13,0,14.4,M
8,Mejia,Jesica,Voley,68,1.74,F,1,B,11,0,12.6,F
4,Moreno,Julia,Basquet,68,1.76,F,2,B,14,4,9.1,F
1,Navarro,Julio,Ajedrez,62,1.68,M,2,A,13,1,12.2,M
3,Prado,Ana,Reposteria,68,1.71,F,4,A,13,0,12.1,F
6,Zegarra,Alberto,Judo,65,1.67,M,2,A,12,0,12.6,M

Ordenamos por orden alfabetico los apellidos de manera descendente

In [32]:
dft.sort_values(by='Apellido', ascending=False)

,Apellido,Nombre,Aficion principal,Peso(Kg),Estatura(m),Genero_x,Grado,Aula,Edad,Cursos_repetidos,Nota_promedio,Genero_y
6,Zegarra,Alberto,Judo,65,1.67,M,2,A,12,0,12.6,M
3,Prado,Ana,Reposteria,68,1.71,F,4,A,13,0,12.1,F
1,Navarro,Julio,Ajedrez,62,1.68,M,2,A,13,1,12.2,M
4,Moreno,Julia,Basquet,68,1.76,F,2,B,14,4,9.1,F
8,Mejia,Jesica,Voley,68,1.74,F,1,B,11,0,12.6,F
9,Jimenez,Luis,Ajedrez,70,1.65,M,4,B,13,0,14.4,M
5,Escobar,Pedro,Karaoke,62,1.58,M,1,A,12,2,10.5,M
2,Castro,Tania,Judo,71,1.73,F,2,A,12,1,11.4,F
0,Castillo,Daniel,Ajedrez,75,1.61,M,1,B,12,0,12.1,M
7,Borja,Pablo,Futbol,70,1.73,M,5,B,15,0,13.6,M