In [1]:
#primer comentario usando github 
import pandas as pd

columnas = ["Apellido", "Nombre"]
apellidos = ["Molina", "Muñoz", "Rubio", "Castillo", "Garrido", "Medina", "Navarro", "Morales", "Castro", "Reyes", "Prado", "Chavez",
             "Vega", "Moreno", "Escobar", "Alvarado", "Zegarra", "Costa", "Borja", "Romero", "Gomez", "Ruiz", "Mejia", "Serrano", 
             "Jimenez", "Vazquez", "Fernandez", "Ramos", "Rodriguez", "Delgado"]
nombres = ["Antonio", "Liliana", "Ana", "Daniel", "Luis", "Laura", "Julio", "Jorge", "Tania", "Cintia", "Ana", "Jose", "Carlos", "Julia",
           "Pedro", "Ester", "Alberto", "Tatiana", "Pablo", "Marta", "Jorge", "Rosa", "Jesica", "Ursula", "Luis", "Jose", "Miguel",
           "Raul", "Susana", "Vanesa"]


datos = list(zip(apellidos, nombres))
df = pd.DataFrame(datos, columns=columnas)
df

     Apellido   Nombre
0      Molina  Antonio
1       Muñoz  Liliana
2       Rubio      Ana
3    Castillo   Daniel
4     Garrido     Luis
5      Medina    Laura
6     Navarro    Julio
7     Morales    Jorge
8      Castro    Tania
9       Reyes   Cintia
10      Prado      Ana
11     Chavez     Jose
12       Vega   Carlos
13     Moreno    Julia
14    Escobar    Pedro
15   Alvarado    Ester
16    Zegarra  Alberto
17      Costa  Tatiana
18      Borja    Pablo
19     Romero    Marta
20      Gomez    Jorge
21       Ruiz     Rosa
22      Mejia   Jesica
23    Serrano   Ursula
24    Jimenez     Luis
25    Vazquez     Jose
26  Fernandez   Miguel
27      Ramos     Raul
28  Rodriguez   Susana
29    Delgado   Vanesa